{% extends "layout.html" %}

<!--configurando blocks para layout-->

{% set pageId = "page-home" %}
<!--set do page-home-->

{% block styles %}
    <!--bloco do css-->
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    <!--bloco do content-->
    <div class="content">

        <header>
            <!--Logo, link para cadastrar coleta-->
            <img src="/icones/logo.svg" alt="logomarca">
            <a href="create-point">
                <span></span>
                Cadastre um ponto de coleta
            </a>
        </header>
        <!--fim header-->

        <main>
            <!--Corpo com frases-->
            <h1>Seu marketplace de coleta de resíduos!</h1>
            <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
            <a href="#">
                <span></span>
                <strong>Pesquisar pontos de coleta</strong>
            </a>
        </main>
        <!--fim main-->

    </div>
    <!--fim content-->

{% endblock content %}

{% block modal %}
    <!--bloco do modal-->
    {%include "partials/modal.html"%}
{% endblock modal %}

{% block scripts %}
    <!--bloco do script-->
    <script src="/scripts/index.js"></script>
{% endblock scripts %}