    <div id="modal" class="hide"><!--div modal-->
        <div class="content"><!--div content-->
            <div class="header">
                <h1>Pontos de Coleta</h1>
                <a href="#">Fechar</a>
            </div>
            <form action="search-results"><!--formulario de busca para uma cidade-->
                <label for="search">Cidade:</label>
                <div class="search field">
                    <input type="text" name="search" placeholder="Pesquise por uma cidade...">
                    <button>
                        <img src="/icones/search.svg" alt="Buscar">
                    </button>
                </div>
            </form><!--fim form-->
        </div><!--fim content-->
    </div><!--fim modal-->